@font-face {
    font-family: "Tr";
    src: url('./fonts/typori_regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    font-family: Tr, Monospace;
    margin: 0.7vh 0;
}

body {
    color: #724E39;
    background-color: #FFF1E6;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/grass_bottom.png'), url('../assets/img/birds_top.png');
    background-position: bottom, top;
    background-size: auto 650px, 850px auto;
    background-repeat: repeat-x, no-repeat;
    background-position-y: 366px, 0;
    background-attachment: fixed;
}

h1 img {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
}

h2 {
    font-style: italic;
}


div {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: #FFF1E6;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 2px solid #724E39;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 150px;
}

.card {
    max-width: 18%;
    max-height: auto;
}

button {
    background-color: #724E39;
    color: #FFF1E6;
    border-radius: 10px;
    padding: 5px;
}

button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

#top-right {
    position: fixed;
    top: 3%;
    right: 3%;
}

.footer {
    background-color: #75924B;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0%;
    margin: 0;
}